# Ignore local OpenAI API key config
.gptlogger_config.json

# Ignore sample logs
data/sample_logs.txt

# Ignore python unnecessary files
__pycache__
*.pyc

# Ignore streamlit cache
.streamlit/cache

# Ignore streamlit logs
.streamlit/logs

# Ignore python virtual environment
.venv

